/* CALENDAR */
.calendar {
    text-align: center;
}

/* TIMELINE */
.timeline-container {
    display: inline-block;
    vertical-align: top;
    text-align: right;
}

/* EVENT */
.event-container {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    position: relative;
}

.event {
    text-align: left;
    position: absolute;
    display: inline-block;
}

.event-bar {
    display: inline-block;
}

.event-content {
    display: inline-block;
    vertical-align: top;
}
